h1, h2, h3, h4, h5, h6 {
	clear: both;

	a {
		text-decoration: none;
	}
}

.site-title {
	position: fixed;
	top: 0;
	left: 32px;
	z-index: 10000;
	text-align: left;
	opacity: 0.1;
	letter-spacing: -0.33em;
}

.entry-header {
	text-align: center;

	a {
		text-decoration: none;
		display: block;
	}
}

.grid-item {
	h1 {
		font-size: $font__size-grid-item-h1;
		display: inline-block;
	}

	a {
		text-decoration: none;
	}

	.entry-details {
		font-size: $font__size-grid-item-entry-details;
	}
}

.post {

	.entry-header {

		h1 {
			margin-bottom: 0.5em;
		}

		.entry-details {
			font-size: $font__size-single-entry-details;
			display: block;
			margin-bottom: 2em;
		}

	}
}