h1, h2, h3, h4, h5, h6 {
	clear: both;

	a {
		text-decoration: none;
	}
}

h1, .entry-details {
	text-align: center;
}

.site-title {
	position: fixed;
	top: 0;
	left: 32px;
	z-index: 10000;
	text-align: left;
	opacity: 0.1;
	letter-spacing: -0.33em;
}

.entry-header {
	a {
		text-decoration: none;
		display: block;
	}
}

.grid-item {
	h1 {
		font-size: $font__size-grid-item-h1;
		margin: 0;
	}

	.entry-details {
		font-size: $font__size-grid-item-entry-details;
	}
}