#page {
	padding: $padding__site-main;
	max-width: $maxwidth__site-main;
	margin: 0 auto;
}

.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content {
	margin: 1.5em 0 0;

	p, h1, h2, h3, h4, h5, h6 {
		max-width: $maxwidth__site-content;
		margin-left: auto;
		margin-right: auto;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hidden-grid {
	display: none;
}

.grid {
	opacity: 0;
}

.loaded {
	opacity: 1;
}

.grid-item,
.isotope-item,
.grid-sizer {
	width: $size__site-grid-item;
}

.gutter-sizer {
	width: $size__site-gutter;
}

.more-link {
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 0 8px;
	transition: background-color 0.5s;
	transition: border-color 0.5s;

	.more-link-text {
		position: absolute;
		opacity: 0;
		transition: opacity 0.33s;
	}
	.dotdotdot {
		transition: padding-left 0.5s;		
	}
}

.more-link:hover {
		background-color: #f7f7f7;

		.more-link-text {
			opacity: 1;
			display: inline-block;
		}

		.dotdotdot {
			padding-left: 3em;
		}
}

.site-description {
	margin-top: 24vh;
}


.index-view {
	transition: opacity 1s, filter 0.5s, saturate 0.5s;
	transition: opacity 1s, -webkit-filter 0.5s, saturate.50s;

}

.post-view {
	transition: opacity 1s;
		//display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9000;

}

.post-view.ng-enter, .post-view.ng-leave {
	display: block !important;	
	-webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
}

.post-view.ng-leave {
	display: block !important;		
	opacity: 0;
 	-webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;   
}

.post-view.ng-enter {
	display: block !important;	

  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);  
}

.post-view.ng-enter-active {
	display: block !important;		
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1); 
}

.post-view {
		display: none;
	}

.index-view {
    	-webkit-filter: none;
	}


.index {
	.post-view {
		opacity: 0;
	}
}


// Turn off background body scrolling when showing single posts
.single {
	overflow-x: hidden;
	overflow-y: hidden;
	//background-color: #fff;
    //transition: background-color 1s;

	.index-view {
		-webkit-filter: blur(4px) saturate(10);
		filter: blur(4px) saturate(10);
   		-webkit-transform: translateZ(0);
   		-moz-transform: translateZ(0);
   		-ms-transform: translateZ(0);
   		-o-transform: translateZ(0);
   		transform: translateZ(0);
	}

	.post-view {
		//opacity: 1;		
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9000;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    	margin-bottom: 50vh;
    	//background-color: rgba(255,255,255,0.9);
	}
}

/*
.slideup {
	
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: $maxwidth__site-main;
    height: 100%;
    
}
*/