#page {
	padding: $padding__site-main;
	max-width: $maxwidth__site-main;
	margin: 0 auto;
}

.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content {
	margin: 1.5em 0 0;

	p, h1, h2, h3, h4, h5, h6 {
		max-width: $maxwidth__site-content;
		margin-left: auto;
		margin-right: auto;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hidden-grid {
	display: none;
}

.grid-item,
.isotope-item,
.grid-sizer {
	width: $size__site-grid-item;
}

.gutter-sizer {
	width: $size__site-gutter;
}

.more-link {
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 0 8px;
	transition: background-color 0.5s;
		transition: border-color 0.5s;

	.more-link-text {
		position: absolute;
		opacity: 0;
		transition: opacity 0.33s;
	}
	.dotdotdot {
		transition: padding-left 0.5s;		
	}
}

.more-link:hover {
		background-color: #f7f7f7;

		.more-link-text {
			opacity: 1;
			display: inline-block;
		}

		.dotdotdot {
			padding-left: 3em;
		}
}

.site-description {
	margin-top: 24vh;
}

/*
.slideup {
	
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: $maxwidth__site-main;
    height: 100%;
    
}
*/

.fade {
 
    opacity: 1;
}
.fade.ng-enter {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform-origin: top;
}

.fade.ng-leave {

}
.fade.ng-enter {
    opacity: 0;
    transform: scale(0.75,0.75)
}
.fade.ng-enter-active {
    opacity: 1;
    transform: scale(1,1)
}
.fade.ng-leave {
    opacity: 1;

}
.fade.ng-leave-active {
    opacity: 0;
}